html, body, header, .view {
    height: 100%;
}

@media (max-width: 740px) {
    html, body, header, .view {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color: #f8bbd0 !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #f8bbd0 !important;
    }
}

.link-black a {
    color: black;
}

.link-black a:hover {
    color: #0056b3;
}

.link-black .active {
    color: #0056b3;
}

.divider-small {
    width: 30px;
    background-color: rgba(0, 0, 0, .1);
    height: 3px;
}